:root {
  --niria-main-color: #e63312;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: normal;
  z-index: 1;
}

a {
  color: var(--niria-main-color);
  font-weight: bold;
  text-decoration: none;
}

main {
  flex: 100 1 50vw;
  height: 100%;
  padding: 2ch;
  text-align: justify;
}

main > header {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

main > header > h1 {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

main > header > ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: right;
}

main h2 {
  margin: 0;
  padding: 0;
}

main p:first-child {
  margin-top: 0;
}

main p:last-child {
  margin-bottom: 0;
}

.niria-breadcrumbs {
  list-style: none;
}

.niria-breadcrumbs li {
  display: inline;
}

.niria-breadcrumbs li:first-child:before {
  content: "";
}

.niria-breadcrumbs li:before {
  content: " → ";
  font-weight: bold;
  white-space: pre;
}

.highlight > pre {
  border-radius: 2ch;
  padding: 2ch;
  margin: 1ch 0;
}

.niria-monospace {
  font-family: monospace;
}

.niria-box + .niria-box {
  margin-top: 2ch;
}

.niria-box h2 {
  margin: 0;
}

.niria-box ul {
  padding: 0 1ch;
  list-style-position: inside;
}

.niria-box ul ul {
  padding: 0 0 0 2ch;
}

#niria-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

#niria-common_header {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 2ch;
  vertical-align: middle;
}

#niria-common_header nav {
  color: black;
  display: flex;
  align-items: center;
  font-size: xx-large;
  height: 100%;
  margin: 0 0 0 auto;
  padding: 0;
}

#niria-common_header nav a {
  color: black;
  margin: auto 0;
  padding: 0;
  }

#niria-common_footer {
  align-items: center;
  display: flex;
  height: 5em;
  justify-content: center;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#niria-body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

#niria-body > aside {
  flex: 1 1 auto;
  margin: 0;
  padding: 2ch;
}

#niria-body > aside .niria-box + .niria-box {
  margin-top: 2ch;
}

#niria-listing input[type="checkbox"] {
  margin: 0 0 0 1ch;
  padding: 0;
}

#niria-listing input ~ ul {
  display: none;
}

#niria-listing input:checked ~ ul {
  display: block;
}

#niria-listing li span {
  opacity: 0.65;
}

#niria-listing li span.niria-current_path {
  opacity: 1.0;
}
