<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div id="niria-page">
      <header id="niria-common_header">
        <nav>
          <a href="{{ .Site.Home.RelPermalink }}"> {{ .Site.Title }}</a>
        </nav>
      </header>
      <div id="niria-body">
        <aside>
        {{- partial "listing.html" (dict "page" .Site.Home "current" .) -}}
        {{- partial "toc.html" . -}}
        </aside>
        <main>
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "partials/resources.html" . -}}
        </main>
      </div>
      <footer id="niria-common_footer">
        {{ partialCached "footer.html" .Site.Home }}
      </footer>
    </div>
  </body>
</html>
