<ul class="niria-breadcrumbs">
  {{- range .Ancestors.Reverse -}}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{- end -}}
  <li class="here">
    <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
  </li>
</ul>
