<header>
  <h1>{{ .Title }} </h1>
  <ul>
		<li>{{ partial "breadcrumbs.html" . }}</li>
    <li>
      Modified <span id="niria-monospace">{{ partial "fmt_time.html" .Lastmod.UTC }}</span>
      {{- with .Site.Params.content_source_url -}}
        {{- with $.File }}
          (<a href="{{ printf "%s/%s" (trim $.Site.Params.content_source_url "/") .Path }}">source</a>)
        {{- end -}}
      {{- end -}}
    </li>
  </ul>
</header>
