<title>{{- .Site.Title -}}</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/_niria/niria.css">
{{ with .Site.Params.Description }}
<meta name="description" content="{{ . }}" />
{{ end }}
