{{- define "partials/recurse_listing.html" -}}
  {{- $link := printf "<a href=\"%s\">%s</a>" .page.RelPermalink .page.Title | safeHTML -}}
  {{/* Restrict the listing to home, pages and sections. */}}
  {{- $children := sort (where .page.Pages "Kind" "in" (slice "page" "home" "section")) "Title" -}}
  {{- $in_lineage := in (.current.Ancestors | append .current) .page -}}
  <li>
    <span{{ if $in_lineage }} class="niria-current_path"{{- end -}}>
    {{- $link }}{{ with .page.Description }} - {{ truncate 30 . }}{{- end -}}
    </span>
    {{- if $children -}}
    <input style="float: right;" id="niria-list_{{- .page.RelPermalink | base64Encode -}}" type="checkbox"{{ if $in_lineage }} checked{{- end -}}>
      <ul>
        {{- range $children -}}
          {{- partial "recurse_listing.html" (dict "page" . "current" $.current) -}}
        {{- end -}}
      </ul>
    {{ end }}
  </li>
{{- end -}}
<div id="niria-listing" class="niria-box">
  <h2>Pages</h2>
  <ul>
    {{- partial "recurse_listing.html" . -}}
  </ul>
</div>
