{{ with .Site.Params.most_recent_updates -}}
  {{- if (gt . 0) -}}
    {{- $all_pages := sort (where $.Site.Pages "Kind" "in" (slice "page" "home" "section")) "Lastmod" "desc" -}}
    {{- $n_pages := int (math.Min (len $all_pages) .) -}}
    {{- $title := cond (gt $n_pages 1) (printf "%d Most Recent Updates" $n_pages) "Most Recent Update" -}}
<div class="niria-box">
  <h2>{{- $title -}}</h2>
  <ul>
    {{- range (first $n_pages $all_pages) -}}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ with .Description}} - {{ . }}{{ end }}<span style="float: right;">{{ partial "partials/fmt_time.html" .Lastmod }}</span></li>
    {{- end -}}
  </ul>
</div>
  {{- end -}}
{{- end -}}

