{{- with .Page.File -}}
  {{- $res_dir := path.Dir .Path -}}
  {{- with $.Resources -}}
  <div class="niria-box">
    <h2>Resources</h2>
    <ul>
    {{- range (sort . "Title") -}}
    {{- $res_path := path.Join $res_dir .Name -}}
    {{- $res_stat := os.Stat $res_path -}}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <span> ({{ partial "partials/fmt_size.html" $res_stat.Size }})</span>
      <span style="float: right;">{{ partial "partials/fmt_time.html" $res_stat.ModTime }}</span>
    </li>
    {{- end -}}
    </ul>
  </div>
  {{- end -}}
{{- end -}}
